__pycache__/*
module/__pycache__/*
task/__pycache__/*
.vscode/settings.json
Data/*
admin/api_key
temp/*
원본/*
result.csv
admin/__pycache__/*
module/term_spliter.old.py
test/*
.env
db_test1.py
db_test2.py
db_test3.py
termlist.ipynb
site_rank.py
termlist.py
CaseLaw_List.xlsx
CaseLaw_Summary.xlsx


